@import "./variables";

main {
  width: calc(100% - 120px);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 20px;
  background: $mediumGray;
  color: $white;
}